*{
    margin:0px;
    padding: 0px;
}
header{
    display:flex;
    align-items: center;
    padding: 10px 70px;
    justify-content: space-between;
    box-shadow: 0px 0px 2px 2px  rgb(202, 192, 192) ;
    
    

}
.ipl-logo{
    width:150px;
}
.ipl-logo img{
    width:100%
}
.create-team{
    border:1px solid rgb(58, 54, 54);
    background-color:rgb(55, 55, 119);
    color:white;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    
    

}
.create-team .pop-up{
    position: absolute;
    background-color:rgb(55, 55, 119) ;
    top: 50px;
    width: 600px;
    padding: 20px 20px;
    transition: 1s linear;
    transform-origin: top;
    transform: scaleY(1);

}
.create-team .pop-up div{
   display: flex;
   justify-content: space-between;
   margin: 20px 0px;
}
.create-team .pop-up label{
    font-size: 25px;
}
.create-team .pop-up input{
    align-self: center;
    font-size: 23px;
    height: 25px;
}
.create-team .hide{
    
 transform: scaleY(0);
}
.search-bar {
border: 1px solid rgb(150, 135, 135);
border-radius: 2px;
overflow: hidden;
display: flex;
justify-content: space-between;



}
.create-team span{
    font-size: 25px;
    border-radius: 8px;
    background-color: white;
    color: rgb(55, 55, 119);
    padding: 5px 10px;
    cursor: pointer;
    
}
.create-team .pop-up div:nth-child(6){
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.search-bar .search-input{
    height:32px;
    width: 400px;
    border: none;
    font-size: 18px;
    outline: none;
}
.search-bar div{
    background-color: rgb(202, 192, 192) ;
    display: flex;
    align-items: center;
   

}
.search-bar .search-icon{
    font-size: 20px;
    padding: 0px 10px;
   cursor:pointer;
    color: white ;
    font-weight: 700;
    
}


.team-wrapper{

    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px;
    
    
    
}
.team{
    margin: 20px 20px;
    box-shadow: 0px 0px 5px 5px rgb(150, 135, 135);
    width: 200px;
    height: 325px;
    background-color: antiquewhite;
    cursor: pointer;
}
.team:hover{
    box-shadow: 0px 0px 5px 5px rgb(58, 49, 49);
}
.team-logo{
    width:100%
    
}
.team-logo img{
    
    width: 100%;
    aspect-ratio: 0.9;
}


.team .team-name{
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
    color:rgb(44, 44, 80);
    font-weight: 600;
    
}

.team .trophies{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    color:rgb(44, 44, 80);
   
}

input::placeholder{
    font-size: 15px;
    color:rgb(44, 44, 80);
}


@media only screen and (max-width: 990px){
    header{
        position: relative;
        margin-bottom: 80px;
    }

    .search-bar {
    
        position: absolute;  
        top:160px ;
        }
}

@media only screen and (max-width: 820px){
    header{
        display:flex;
        align-items: center;
        padding: 10px 40px;
        justify-content: space-between;
        box-shadow: 0px 0px 2px 2px  rgb(202, 192, 192) ;
        
        
    
    }

    .team-wrapper{

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10px 20px;
        
        
    }
    .search-bar {
    
        position: absolute;  
        top:160px ;
        left:50%;
        transform: translateX(-50%);
        }

    .team{
        margin: 20px 20px;
        box-shadow: 0px 0px 5px 5px rgb(150, 135, 135);
        width: 200px;
        height: 325px;
        background-color: antiquewhite;
        cursor: pointer;
    }
}
@media only screen and (max-width: 520px){

    header{
        display:flex;
        align-items: center;
        padding: 10px 20px;
        justify-content: space-between;
        box-shadow: 0px 0px 2px 2px  rgb(202, 192, 192) ;
        
        
    
    }
    .search-bar {
    
        position: absolute;  
        top:120px ;
        left:30px;
        right: 30px;
        transform: none
        }
        .ipl-logo{
            width:100px;
        }
}